<div class="page-width crafted-cali">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      <div class="page-section-container rte">
        {{ page.content }}
      </div>
    </div>
  </div>
</div>
{% section 'feature-footer' %}
